Standard files test is not checking security.txt under the .well-known directory

### URL

https://www.gulla.net/

### Webperf_core version

2025.6.4

### What environment are you running?

- [ ] Using GitHub Actions
- [x] Using Docker Image from Dock Hub
- [ ] Local machine
- [ ] Other, please describe your environment in How to reproduce.

### Has anyone else reported it already?

- [x] No, there are no other issues related to this in [Issues](https://github.com/Webperf-se/webperf_core/issues).

### Expected Behavior

Test should check https://www.gulla.net/.well-known/security.txt

### Actual Behavior.

It at least lists the tested URL as https://www.gulla.net/security.txt

### How to reproduce

```shell
python3 default.py -u https://www.gulla.net/ -t 9
```

### Log output

```shell
- security.txt has incorrect content (error)
  Url(s) with issues:
  - https://www.gulla.net/security.txt
```

Both urls are valid if i remember correctly and the test should test both.
Are you sure it is not testing both (but only show one if both fail)?

Ah, I didn't know both paths were valid.

> Where should I put the security.txt file?
> For websites, the security.txt file should be placed under the /.well-known/ path (/.well-known/security.txt) [[RFC8615](https://tools.ietf.org/html/rfc8615)]. It can also be placed in the root directory (/security.txt) of a website, especially if the /.well-known/ directory cannot be used for technical reasons, or simply as a fallback. Please consult [section 3 of RFC 9116 for details](https://www.rfc-editor.org/rfc/rfc9116.html#name-location-of-the-securitytxt).

https://github.com/securitytxt/security-txt

Seems like if /security.txt doesn't exist (404 response) it still analyzes its content with lower rating as result:

```
python3 default.py -u https://krompaco.nu -t 9

### Rating:
- Overall: 4.83
- Integrity & Security: 4.5
- Standards: 5.0

### Review:

#### Overall:
- Test failed, unable to access website (resolved)
#### Integrity & Security:
- security.txt has incorrect content (error)
  Url(s) with issues:
  - https://krompaco.nu/security.txt
```

- https://webperf.se/ seems to have both
- https://krompaco.nu (I've changed my blog to have only root path, 404 for `/.well-known/security.txt`)
- https://www.gulla.net/ (`/.well-known/security.txt` works, 404 for root path)
- https://www.tietoevry.com (none)

I only control krompaco.nu so I can't guarantee that the others remain in this state.

**Webperf.se**

Started: 2025-06-24 17:04:17
Finished: 2025-06-24 17:04:24

### Rating: 
- Overall: 4.98
- Integrity & Security: 5.0
- Standards: 4.95

### Review:
 
#### Overall:
- Test failed, unable to access website (resolved)
#### Integrity & Security:
- Sitemap, Url in <loc> has to start with https:// (resolved)
- security.txt is missing (resolved)
- security.txt has incorrect content (resolved)
- security.txt is missing the required contact info (resolved)
- security.txt requires expiration information (added in draft v10) is missing (resolved)
#### Standards:
- Sitemap, No duplicate Urls in <loc> allowed (warning)
  Url(s) with issues:
  - https://webperf.se/

- robots.txt is missing, not allowed to download or has not the expected content (resolved)
- Sitemap is not specified in robots.txt (resolved)
- Sitemap, no valid sitemap found (resolved)
- Sitemap, Url in <loc> must use same domain as robots.txt (resolved)
- Sitemap, lists other stuff then webpages (resolved)
- Sitemap, is exceeding 50 000 items (resolved)
- Sitemap, has no items (resolved)
- Feed is missing in the HTML's metadata (resolved)

### Data:
 ```json
{
   "groups": {
      "webperf.se": {
         "issues": [
            {
               "test": "standard-files",
               "rule": "no-duplicates-sitemap",
               "category": "standard",
               "severity": "warning",
               "subIssues": [
                  {
                     "url": "https://webperf.se/",
                     "rule": "no-duplicates-sitemap",
                     "category": "standard",
                     "severity": "warning"
                  }
               ]
            },
            {
               "test": "standard-files",
               "rule": "no-robots-txt",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-sitemap-in-robots-txt",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-valid-sitemap-found",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-same-domain-sitemap",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-https-sitemap",
               "category": "security",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-unknown-types-sitemap",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "invalid-sitemap-too-large",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-items-sitemap",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-rss-feed",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-security-txt",
               "category": "security",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "invalid-security-txt",
               "category": "security",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-security-txt-contact",
               "category": "security",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-security-txt-expires",
               "category": "security",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-network",
               "category": "technical",
               "severity": "resolved",
               "subIssues": []
            }
         ],
         "score": {
            "overall": 99.66666666666667,
            "standard": 99,
            "security": 100,
            "technical": 100
         }
      }
   }
}
```

**Gulla.net**

Started: 2025-06-24 17:05:59
Finished: 2025-06-24 17:06:02

### Rating: 
- Overall: 4.83
- Integrity & Security: 4.5
- Standards: 5.0

### Review:
 
#### Overall:
- Test failed, unable to access website (resolved)
#### Integrity & Security:
- security.txt has incorrect content (error)
  Url(s) with issues:
  - https://www.gulla.net/security.txt

- Sitemap, Url in <loc> has to start with https:// (resolved)
- security.txt is missing (resolved)
- security.txt is missing the required contact info (resolved)
- security.txt requires expiration information (added in draft v10) is missing (resolved)
#### Standards:
- robots.txt is missing, not allowed to download or has not the expected content (resolved)
- Sitemap is not specified in robots.txt (resolved)
- Sitemap, no valid sitemap found (resolved)
- Sitemap, Url in <loc> must use same domain as robots.txt (resolved)
- Sitemap, No duplicate Urls in <loc> allowed (resolved)
- Sitemap, lists other stuff then webpages (resolved)
- Sitemap, is exceeding 50 000 items (resolved)
- Sitemap, has no items (resolved)
- Feed is missing in the HTML's metadata (resolved)

### Data:
 ```json
{
   "groups": {
      "www.gulla.net": {
         "issues": [
            {
               "test": "standard-files",
               "rule": "invalid-security-txt",
               "category": "security",
               "severity": "error",
               "subIssues": [
                  {
                     "url": "https://www.gulla.net/security.txt",
                     "rule": "invalid-security-txt",
                     "category": "security",
                     "severity": "error"
                  }
               ]
            },
            {
               "test": "standard-files",
               "rule": "no-robots-txt",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-sitemap-in-robots-txt",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-valid-sitemap-found",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-same-domain-sitemap",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-https-sitemap",
               "category": "security",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-duplicates-sitemap",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-unknown-types-sitemap",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "invalid-sitemap-too-large",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-items-sitemap",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-rss-feed",
               "category": "standard",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-security-txt",
               "category": "security",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-security-txt-contact",
               "category": "security",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-security-txt-expires",
               "category": "security",
               "severity": "resolved",
               "subIssues": []
            },
            {
               "test": "standard-files",
               "rule": "no-network",
               "category": "technical",
               "severity": "resolved",
               "subIssues": []
            }
         ],
         "score": {
            "overall": 96.66666666666667,
            "security": 90,
            "standard": 100,
            "technical": 100
         }
      }
   }
}
```

My five cents is that I think either or should be sufficient. It should not be mandatory that both paths work. Even though I prefer /security.txt since I am conservative.

But if a website answers with code 200 and a wrong content it should be penalized.

Read a bit more and the standard doc seems to have has the answer.

https://www.rfc-editor.org/rfc/rfc9116.html#name-location-of-the-securitytxt

So I think this is how the test should work:

Keep in mind that root path exists when "server" can't support /.well-known/-path - clients can always check /.well-known/.

If 200 response from the /.well-known/-path, check content of it. I think it would be easier to explain that the root-path should then give 404 rather than serving 200-responses on both paths. The standard states the "client" must only use /.well-known/-version if it exists.

If 404 response from /.well-known/-path, look for root-path.

The 200-response should require Content-Type "text/plain" and charset set to "utf-8" and check whatever the test checks today.

Soon PR will be merged that will result in below.

## https://krompaco.nu/

### Rating: 
- Overall: 5.0
- Integrity & Security: 5.0
- Standards: 5.0
### Review:
 
#### Overall:
#### Integrity & Security:
- security.txt has incorrect content (resolved)
- Sitemap, Url in <loc> has to start with https:// (resolved)
- security.txt is missing (resolved)
- security.txt is missing the required contact info (resolved)
- security.txt requires expiration information (added in draft v10) is missing (resolved)
#### Standards:
- robots.txt is missing, not allowed to download or has not the expected content (resolved)
- Sitemap is not specified in robots.txt (resolved)
- Sitemap, no valid sitemap found (resolved)
- Sitemap, Url in <loc> must use same domain as robots.txt (resolved)
- Sitemap, No duplicate Urls in <loc> allowed (resolved)
- Sitemap, lists other stuff then webpages (resolved)
- Sitemap, is exceeding 50 000 items (resolved)
- Sitemap, has no items (resolved)
- Feed is missing in the HTML's metadata (resolved)


## https://www.gulla.net/

### Rating: 
- Overall: 5.0
- Integrity & Security: 5.0
- Standards: 5.0
### Review:
 
#### Overall:
#### Integrity & Security:
- Sitemap, Url in <loc> has to start with https:// (resolved)
- security.txt is missing (resolved)
- security.txt has incorrect content (resolved)
- security.txt is missing the required contact info (resolved)
- security.txt requires expiration information (added in draft v10) is missing (resolved)
#### Standards:
- robots.txt is missing, not allowed to download or has not the expected content (resolved)
- Sitemap is not specified in robots.txt (resolved)
- Sitemap, no valid sitemap found (resolved)
- Sitemap, Url in <loc> must use same domain as robots.txt (resolved)
- Sitemap, No duplicate Urls in <loc> allowed (resolved)
- Sitemap, lists other stuff then webpages (resolved)
- Sitemap, is exceeding 50 000 items (resolved)
- Sitemap, has no items (resolved)
- Feed is missing in the HTML's metadata (resolved)


## https://www.tietoevry.com/

### Rating: 
- Overall: 4.68
- Integrity & Security: 4.4
- Standards: 4.95
### Review:
 
#### Overall:
#### Integrity & Security:
- security.txt has incorrect content (error)
  Url(s) with issues:
  - https://www.tietoevry.com/.well-known/security.txt
  - https://www.tietoevry.com/security.txt
- security.txt is missing the required contact info (warning)
  Url(s) with issues:
  - https://www.tietoevry.com/.well-known/security.txt
  - https://www.tietoevry.com/security.txt
- security.txt requires expiration information (added in draft v10) is missing (warning)
  Url(s) with issues:
  - https://www.tietoevry.com/.well-known/security.txt
  - https://www.tietoevry.com/security.txt
- Sitemap, Url in <loc> has to start with https:// (resolved)
- security.txt is missing (resolved)
#### Standards:
- Feed is missing in the HTML's metadata (warning)
  Url(s) with issues:
  - https://www.tietoevry.com/
- robots.txt is missing, not allowed to download or has not the expected content (resolved)
- Sitemap is not specified in robots.txt (resolved)
- Sitemap, no valid sitemap found (resolved)
- Sitemap, Url in <loc> must use same domain as robots.txt (resolved)
- Sitemap, No duplicate Urls in <loc> allowed (resolved)
- Sitemap, lists other stuff then webpages (resolved)
- Sitemap, is exceeding 50 000 items (resolved)
- Sitemap, has no items (resolved)