Code for MTA-STS validation flags LF separated items as invalid

### URL

https://ubm.se

### Webperf_core version

latest

### What environment are you running?

- [ ] Using GitHub Actions
- [ ] Using Docker Image from Dock Hub
- [x] Local machine
- [ ] Other, please describe your environment in How to reproduce.

### Has anyone else reported it already?

- [x] No, there are no other issues related to this in [Issues](https://github.com/Webperf-se/webperf_core/issues).

### Expected Behavior

MTA-STS policy items should be valid if the are separated by LF.





### Actual Behavior.

If an MTA-STS policy separates policy items with LF instead of CRLF it is flagged as invalid. But the grammar section in the [RFC 8461 Section 3.2](https://www.rfc-editor.org/rfc/rfc8461#section-3.2) allows for both LF and CRLF as item separators.

The code in [email_validator.py](https://github.com/Webperf-se/webperf_core/blob/main/tests/email_validator.py) on [line 486](https://github.com/7h3Rabbit/webperf_core/blob/09d8a9463071f84c3bd9221645de815b908cf5a3/tests/email_validator.py#L496C1-L508C65) assumes CRLF:

```python
rows = content.split('\r\n')
if len(rows) == 1:
    rows = content.split('\n')
    if len(rows) > 1:
        # https://www.rfc-editor.org/rfc/rfc8461#section-3.2
        mta_sts_records_wrong_linebreak_rating = Rating(
            global_translation, get_config('general.review.improve-only'))
        mta_sts_records_wrong_linebreak_rating.set_overall(1.0)
        mta_sts_records_wrong_linebreak_rating.set_integrity_and_security(
            2.5, local_translation('TEXT_REVIEW_MTA_STS_DNS_RECORD_WRONG_LINEBREAK'))
        mta_sts_records_wrong_linebreak_rating.set_standards(
            1.0, local_translation('TEXT_REVIEW_MTA_STS_DNS_RECORD_WRONG_LINEBREAK'))
        rating += mta_sts_records_wrong_linebreak_rating
```

ABNF grammar in RFC 8461:

`sts-policy-term          = LF / CRLF`

Example policy using LF: https://mta-sts.ubm.se/.well-known/mta-sts.txt

Which is valid according to [Mailhardener.com](https://www.mailhardener.com/tools/mta-sts-validator?domain=ubm.se).

### How to reproduce

```shell
Check example policy here: https://mta-sts.ubm.se/.well-known/mta-sts.txt
```

### Log output

```shell

```

Thanks for reporting the bug about the CRLF usage in MTA-STS!